body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#overlay.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://media.tenor.com/OdehztbrpecAAAAC/anime-falling.gif');
    background-repeat: repeat;
    opacity: 0.6;
}

#overlay-text {
    font-size: 24px;
    color: white;
    animation: balance 1s infinite, shine 2s infinite;
    position: relative;
    z-index: 1;
}

@keyframes balance {
    0%, 100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

@keyframes shine {
    0% {
        text-shadow: 0 0 0.2em white, 0 0 0.4em white;
    }
    50% {
        text-shadow: 0 0 0.8em white, 0 0 1.2em white;
    }
    100% {
        text-shadow: 0 0 0.2em white, 0 0 0.4em white;
    }
}

#social-icons {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.social-icon {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    animation: shake 1s infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(2px);
    }
}

.social-icon:hover {
    color: #7289DA;
}
